<a href="https://colab.research.google.com/github/PatrickRuan/ML100Days/blob/master/1120EDA%E9%81%8E%E9%97%9C%E7%B7%B4%E7%BF%922.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
import os
drive.mount('/content/drive/')
path = 'drive/My Drive/學習/Cupoy/ML100_5/d004_data/'
!cp -r drive/'My Drive'/學習/Cupoy/ML100_5/d004_data/ ./
os.chdir('/content')
os.chdir('./d004_data')
#os.chdir('/content/')
df_app = pd.read_csv('application_train.csv')
print(df_app.shape)
df_app.head(3)

ls_fc = []
ls_ic = []
ls_oc = []
for i in df_app.columns:
  if df_app[i].dtype == 'float64':
    ls_fc.append(i)
  elif df_app[i].dtype == 'int64':
    ls_ic.append(i)
  else: 
    ls_oc.append(i)
ls_nc1 = ls_fc + ls_ic

print(len(ls_fc), len(ls_ic), len(ls_oc), len(ls_nc1), '\n', ls_oc)

os.chdir('/content/')
!cp -r drive/'My Drive'/學習/Cupoy/ML100_5/d007_data/ .
os.chdir('./d007_data')
df_house_tr = pd.read_csv('house_train.csv.gz')
df_house_tt = pd.read_csv('house_test.csv.gz')

ls_nc2, ls_oc2, ls_fc2, ls_ic2 = [], [], [], []

for c,t in zip(df_house_tr.columns, df_house_tr.dtypes):
  if (t == 'float64') or (t == 'int64'):
    ls_nc2.append(c)
  else: ls_oc2.append(c)

Mounted at /content/drive/
cp: cannot open 'drive/My Drive/學習/Cupoy/ML100_5/d004_data/HomeCredit_columns_description.gsheet' for reading: Operation not supported
(307511, 122)
65 41 16 106
 ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

# 【練習 17: house .quantile()】 
我們要來算 q0, 25, 50, 100 (house_train.csv.gz, 'AMT_ANNUITY')
- house_train.csv.gz,  $\space\space$ 'AMT_ANNUITY'
- compare np.percentile(df, q) and np.quantile(df.q)
- q_p = [np.percentile(df_app[~df_app['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in list(range(101))]
- q_q = [np.quantile(df_app[~df_app['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in np.linspace(0,1,101)]

In [ ]:
q_p = [np.percentile(df_app[~df_app['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in list(range(101))]
q_q = [np.quantile(df_app[~df_app['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in np.linspace(0,1,101)]
q_p == q_q # True

True

In [ ]:
q_pq = [df_app.AMT_ANNUITY.quantile(q=i) for i in np.linspace(0,1,101)]#24903.0
q_pq == q_q

True

In [ ]:
df_app['AMT_ANNUITY'].describe()

count    307499.000000
mean      27108.573909
std       14493.737315
min        1615.500000
25%       16524.000000
50%       24903.000000
75%       34596.000000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64

# 【練習 18: Application .isnull()】 
我們要來算偵測出 null 
   - `print(df_app[df_app.AMT_ANNUITY.isnull()].AMT_ANNUITY)`
   - `df_app[df_app.AMT_ANNUITY.isnull()]= q_p[51] `

In [ ]:
# 這一步要先會: 也請解釋
df_app[df_app['AMT_ANNUITY']>230000]['AMT_ANNUITY']

17948     258025.5
101508    230161.5
Name: AMT_ANNUITY, dtype: float64

In [ ]:
print(df_app[df_app.AMT_ANNUITY.isnull()].AMT_ANNUITY)
print(df_app[df_app.AMT_ANNUITY.isna()].AMT_ANNUITY)
df_app[~df_app['AMT_ANNUITY'].isnull()].AMT_ANNUITY

47531    NaN
50035    NaN
51594    NaN
55025    NaN
59934    NaN
75873    NaN
89343    NaN
123872   NaN
207186   NaN
227939   NaN
239329   NaN
241835   NaN
Name: AMT_ANNUITY, dtype: float64
47531    NaN
50035    NaN
51594    NaN
55025    NaN
59934    NaN
75873    NaN
89343    NaN
123872   NaN
207186   NaN
227939   NaN
239329   NaN
241835   NaN
Name: AMT_ANNUITY, dtype: float64

0         24700.5
1         35698.5
2          6750.0
3         29686.5
4         21865.5
           ...
307506    27558.0
307507    12001.5
307508    29979.0
307509    20205.0
307510    49117.5
Name: AMT_ANNUITY, Length: 307499, dtype: float64

# 【練習 19: Application .isnull 補 q50】 
用q50 取代 null

In [ ]:
df_app[df_app.AMT_ANNUITY.isnull()]= q_p[51]

In [ ]:
df_app[df_app.AMT_ANNUITY.isnull()]

Empty DataFrame
Columns: [SK_ID_CURR, TARGET, NAME_CONTRACT_TYPE, CODE_GENDER, FLAG_OWN_CAR, FLAG_OWN_REALTY, CNT_CHILDREN, AMT_INCOME_TOTAL, AMT_CREDIT, AMT_ANNUITY, AMT_GOODS_PRICE, NAME_TYPE_SUITE, NAME_INCOME_TYPE, NAME_EDUCATION_TYPE, NAME_FAMILY_STATUS, NAME_HOUSING_TYPE, REGION_POPULATION_RELATIVE, DAYS_BIRTH, DAYS_EMPLOYED, DAYS_REGISTRATION, DAYS_ID_PUBLISH, OWN_CAR_AGE, FLAG_MOBIL, FLAG_EMP_PHONE, FLAG_WORK_PHONE, FLAG_CONT_MOBILE, FLAG_PHONE, FLAG_EMAIL, OCCUPATION_TYPE, CNT_FAM_MEMBERS, REGION_RATING_CLIENT, REGION_RATING_CLIENT_W_CITY, WEEKDAY_APPR_PROCESS_START, HOUR_APPR_PROCESS_START, REG_REGION_NOT_LIVE_REGION, REG_REGION_NOT_WORK_REGION, LIVE_REGION_NOT_WORK_REGION, REG_CITY_NOT_LIVE_CITY, REG_CITY_NOT_WORK_CITY, LIVE_CITY_NOT_WORK_CITY, ORGANIZATION_TYPE, EXT_SOURCE_1, EXT_SOURCE_2, EXT_SOURCE_3, APARTMENTS_AVG, BASEMENTAREA_AVG, YEARS_BEGINEXPLUATATION_AVG, YEARS_BUILD_AVG, COMMONAREA_AVG, ELEVATORS_AVG, ENTRANCES_AVG, FLOORSMAX_AVG, FLOORSMIN_AVG, LANDAREA_AVG, LIVINGAPARTMENTS_AVG, LIVINGAREA_AVG, NONLIVINGAPARTMENTS_AVG, NONLIVINGAREA_AVG, APARTMENTS_MODE, BASEMENTAREA_MODE, YEARS_BEGINEXPLUATATION_MODE, YEARS_BUILD_MODE, COMMONAREA_MODE, ELEVATORS_MODE, ENTRANCES_MODE, FLOORSMAX_MODE, FLOORSMIN_MODE, LANDAREA_MODE, LIVINGAPARTMENTS_MODE, LIVINGAREA_MODE, NONLIVINGAPARTMENTS_MODE, NONLIVINGAREA_MODE, APARTMENTS_MEDI, BASEMENTAREA_MEDI, YEARS_BEGINEXPLUATATION_MEDI, YEARS_BUILD_MEDI, COMMONAREA_MEDI, ELEVATORS_MEDI, ENTRANCES_MEDI, FLOORSMAX_MEDI, FLOORSMIN_MEDI, LANDAREA_MEDI, LIVINGAPARTMENTS_MEDI, LIVINGAREA_MEDI, NONLIVINGAPARTMENTS_MEDI, NONLIVINGAREA_MEDI, FONDKAPREMONT_MODE, HOUSETYPE_MODE, TOTALAREA_MODE, WALLSMATERIAL_MODE, EMERGENCYSTATE_MODE, OBS_30_CNT_SOCIAL_CIRCLE, DEF_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE, DEF_60_CNT_SOCIAL_CIRCLE, DAYS_LAST_PHONE_CHANGE, FLAG_DOCUMENT_2, FLAG_DOCUMENT_3, FLAG_DOCUMENT_4, FLAG_DOCUMENT_5, ...]
Index: []

[0 rows x 122 columns]

# 【練習 20: Application 眾數】 眾數的計算 對 'AMT_GOODS_PRICE'

In [ ]:
value_most = df_app['AMT_GOODS_PRICE'].value_counts().head()
print(value_most)
mode_goods_price = list(df_app['AMT_GOODS_PRICE'].value_counts().index)
print(mode_goods_price[0])

450000.0    26019
225000.0    25281
675000.0    24962
900000.0    15416
270000.0    11428
Name: AMT_GOODS_PRICE, dtype: int64
450000.0

# 【練習 21: Application 手刻 minmax】 
對 'AMT_ANNUITY' 作 max-min normalization

In [ ]:
def normalize_value(x):
  x = (((x-x.min())/(x.max()-x.min()))-0.5)*2
  return x
new = normalize_value(df_app['AMT_ANNUITY'])
new.describe()

count    307511.000000
mean         -0.801154
std           0.113049
min          -1.000000
25%          -0.883714
50%          -0.818357
75%          -0.742752
max           1.000000
Name: AMT_ANNUITY, dtype: float64

#【練習 22 前補充: 填補統計值】
- 填補統計值 

  - 填補平均值(Mean) : 數值型欄位，偏態不明顯
  - 填補中位數(Median) : 數值型欄位，偏態很明顯
  - 填補眾數(Mode) : 類別型欄位


- 填補指定值 - 需對欄位領域知識已有了解

  - 補 0 : 空缺原本就有 0 的含意，如前頁的房間數
  - 補不可能出現的數值 : 類別型欄位，但不適合用眾數時


- 填補預測值 - 速度較慢但精確，從其他資料欄位學得填補知識

  - 若填補範圍廣，且是重要特徵欄位時可用本方式
  - 本方式須提防 overfitting : 可能退化成為其他特徵的組合

# 我們有了這些統計值後，我們可以來討論缺失值的補值。
- 我是覺得可以更早就談 xd

# 【練習 22: Titanic 補值前處理 (I)】補值前處理 (I) 與 將 Titinic 資料載入，
- df_tt_tr
- df_tt_tt
- 需要將 "Survived", "ID" 都移除
- "Survived" 存在 tt_tr_Y
- concat them

In [ ]:
from sklearn.linear_model import LogisticRegression
os.chdir('/content/')
os.chdir('d007_data')
data_path = 'data/'
data_path = ''

df_tt_tr = pd.read_csv('titanic_train.csv')
df_tt_tt = pd.read_csv('titanic_test.csv')

tt_tr_Y = df_tt_tr.Survived
train_num = tt_tr_Y.shape[0]
ids = df_tt_tt['PassengerId'] # 還原時用

df_tt_tr = df_tt_tr.drop(['Survived', 'PassengerId'], axis = 1)
df_tt_tt = df_tt_tt.drop(['PassengerId'], axis =1)
df_tt = pd.concat([df_tt_tr, df_tt_tt])

# 【練習 22_2 titanic 建立 df[[all numeric]] 以及 df.isnull().sum()】
數字 DataFrame: 
- 建立一個 全都是數字的 DataFrame :df_num
- 執行 df_num.sum()
- 比較 df.isnull().sum().sort_values(ascending=False).head() 並說明

In [ ]:
dict_ = {'k1':[3, 2, 1, 4], 'k2': [12,3, 3, 3], 'k3': [1, 12, 12, 6]}
df_num = pd.DataFrame(dict_, columns=['k1', 'k2', 'k3'])
df_num

   k1  k2  k3
0   3  12   1
1   2   3  12
2   1   3  12
3   4   3   6

In [ ]:
df_num.sum()

k1    10
k2    21
k3    31
dtype: int64

### 原來 .sum() 會對每一欄進行動作

df.isnull().sum().sort_values(ascending=False).head()

就是將整張 dataframe 填滿 True(null), Fales(not null), 

對每一欄加法計算，相當於計算每一欄的 True 數, null數

# 【練習 23: titanic 補值練習前處理 (II)】
- 抽出 num_features, by zip
- 製作 number dataframe

In [ ]:
ls_nc3 = []
ls_oc3 = []
for c, t in zip(df_tt.columns, df_tt.dtypes):
  if t == 'object':
    ls_oc3.append(c)
  else: ls_nc3.append(c)
#print(df_tt[ls_nc3])
#print(df_tt[ls_oc3])
df_tt = df_tt[ls_nc3]

# 【練習 24: Titanic 補值練習】
        - 補值, 0, -1, mean, q50, mode
        - 搭配 minmax, std
        - 用 model 與 crossvalidation  觀察結果
        - hind: 
            - from sklearn.model_selection import cross_val_score
            - from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [ ]:
from sklearn.model_selection import cross_val_score
df_m1 = df_tt.fillna(-1)
train_X = df_m1[:train_num]
model = LogisticRegression()
s_ml = cross_val_score(model, train_X, tt_tr_Y, cv=5).mean()
print(s_ml)

from sklearn.preprocessing import MinMaxScaler
df_m1 = df_tt.fillna(-1)
MMS = MinMaxScaler()
df_m1 = MMS.fit_transform(df_m1)
train_X = df_m1[:train_num]
model = LogisticRegression()
s_mlmm = cross_val_score(model, train_X, tt_tr_Y, cv=5).mean()
print(s_mlmm)

from sklearn.preprocessing import StandardScaler
df_m1 = df_tt.fillna(-1)
SDS = StandardScaler()
df_m1 = SDS.fit_transform(df_m1)
train_X = df_m1[:train_num]
model = LogisticRegression()
s_mlsd = cross_val_score(model, train_X, tt_tr_Y, cv=5).mean()
print(s_mlsd)

0.6981796497395015
0.6970560542338836
0.6981733726696377

#其他練習

## 常用的 DataFrame 操作

In [ ]:
1052+(28.5*3.2+ 32) +275 - 102 # 1348
15+2+1.5 # = 18.5
1348 + 19 + 12 + 151+18 # 1548

1548+210

In [ ]:
(1052+(28.5*3.2+32)-102)+311+210+12+(18.5)+ (151 + 18)

1793.7