<a href="https://colab.research.google.com/github/PatrickRuan/ML100Days/blob/master/homework/Day_006_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [1]:
import os
import numpy as np
import pandas as pd
from google.colab import drive, output
import os
drive.mount('/content/drive')
os.makedirs('./data',exist_ok=True)
!cp drive/'My Drive'/教學/發布/22_ML_100/Data_Day4/application*.csv ./data/

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

In [3]:
## 作業
# 將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [4]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [5]:
"""
Your Code Here
"""
sub_train_ohe = pd.get_dummies(sub_train)
print(sub_train_ohe.shape)
sub_train_ohe.head()

(307511, 7)

   WEEKDAY_APPR_PROCESS_START_FRIDAY  ...  WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0                                  0  ...                                     1
1                                  0  ...                                     0
2                                  0  ...                                     0
3                                  0  ...                                     1
4                                  0  ...                                     0

[5 rows x 7 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
le = LabelEncoder()
le_count = 0
le.fit(sub_train)
sub_train['WEEKDAY_APPR_PROCESS_START'] = le.transform(sub_train['WEEKDAY_APPR_PROCESS_START'])
sub_train.head()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   WEEKDAY_APPR_PROCESS_START
0                           6
1                           1
2                           1
3                           6
4                           4