<a href="https://colab.research.google.com/github/PatrickRuan/ML100Days/blob/master/homework/Day_024_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察標籤編碼與獨編碼熱的影響

# [作業重點]
- 回答在範例中的觀察結果
- 觀察標籤編碼與獨熱編碼, 在特徵數量 / 邏輯斯迴歸分數 / 邏輯斯迴歸時間上, 分別有什麼影響 (In[3], Out[3], In[4], Out[4])

# 作業1
* 觀察範例，在房價預測中調整標籤編碼(Label Encoder) / 獨熱編碼 (One Hot Encoder) 方式，  
對於線性迴歸以及梯度提升樹兩種模型，何者影響比較大?

In [2]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder


import os
from google.colab import drive
drive.mount('/content/drive/')
!cp -r 'drive/My Drive/學習/Cupoy/ML100_5/d007_data' ./
os.chdir('/content/d007_data')
df_train = pd.read_csv('titanic_train.csv')
df_test = pd.read_csv('titanic_test.csv')



train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
cp: cannot stat 'drive/My Drive/學習/Cupoy/ML100_5/d007_data': No such file or directory

   Pclass                                               Name  ... Cabin  Embarked
0       3                            Braund, Mr. Owen Harris  ...   NaN         S
1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2       3                             Heikkinen, Miss. Laina  ...   NaN         S
3       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4       3                           Allen, Mr. William Henry  ...   NaN         S

[5 rows x 10 columns]

In [3]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

                                                Name     Sex  ... Cabin Embarked
0                            Braund, Mr. Owen Harris    male  ...  None        S
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  ...   C85        C
2                             Heikkinen, Miss. Laina  female  ...  None        S
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  ...  C123        S
4                           Allen, Mr. William Henry    male  ...  None        S

[5 rows x 5 columns]

# 作業2
* 鐵達尼號例題中，標籤編碼 / 獨熱編碼又分別對預測結果有何影響? (Hint : 參考今日範例)

In [6]:
# 標籤編碼 + 羅吉斯迴歸

"""
Your Code Here
"""
df2 = pd.DataFrame()
for col in df.columns:
  df2[col]=LabelEncoder().fit_transform(df[col])

model = LogisticRegression()
model.fit(df2[:train_num], train_Y)
cross_val_score(model, df2[:train_num], train_Y, cv=5).mean()

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.7800138095537004

In [7]:
# 獨熱編碼 + 羅吉斯迴歸

"""
Your Code Here
"""

#df3 = pd.DataFrame()
df3 = pd.get_dummies(df)

model = LogisticRegression()
model.fit(df3[:train_num], train_Y)
cross_val_score(model, df3[:train_num], train_Y, cv=5).mean()

0.8013307388111229